:root {
  --bg-main-color: #1e1e1e;
  --white-color: #ffff;
  --golden-color: #e3b250;
  --black-color: #000;
  --second-black-color: #252424;
  --green-color: #149631;
  --retancle-color: #4e3636;
}
