@import url("../variables.css");

form {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: calc(688px + 3.5rem);
  margin: auto;
  gap: 4.3rem;
  background: linear-gradient(
    233.84deg,
    #0f0f0f -2.39%,
    rgba(15, 15, 15, 0) 71.11%
  );
  padding: 3.5rem 3.5rem;
}

.main-input {
  background: transparent;
  border: 0;
  border: 3px solid var(--green-color);
  padding: 1rem;
  color: var(--green-color);
}

.area {
  height: 213px;
}

.submit {
  background: transparent;
  border: 0;
  border: 3px solid var(--green-color);
  color: var(--green-color);
  width: 216px;
  height: 58px;
  align-self: flex-start;
  cursor: pointer;
  font-size: 2rem;
  transition: 100ms;
}

.submit:hover {
  background: var(--green-color);
  color: var(--white-color);
}

.thanks-container {
  display: grid;
  place-content: center;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  border: 3px double var(--green-color);
  max-width: 500px;
  padding: 4rem 1rem;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.452);
}

.padding {
  padding: 1rem;
}
