@import url("../variables.css");

.main-button {
  display: block;
  background: var(--bg-button);
  color: var(--second-black-color);
  border-radius: 99rem;
  padding: 1.4rem 2.9rem;
  border: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  max-width: fit-content;
  text-align: center;
  box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.247);
  transition: 100ms;
}

@media (max-width: 530px) {
  .main-button {
    font-size: 1.3rem;
  }
}

.main-button:hover {
  color: var(--white-color);
}

.main-button:active {
  transform: translateY(5px);
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.247);
}

.wrapper-button {
  display: flex;
  justify-content: center;
}
